@import "tailwindcss";

:root {
	--background: #fafafa;
	--foreground: #121212;

	--accent: #a83de2;
}

/* Blocker: Random Warning of Unknown at rule @theme because of biome - June 22, 2026 */
@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-accent: var(--accent);

	--font-family-sans: var(--font-inter), sans-serif;
	--font-family-mono: var(--font-jetbrains-mono), monospace;
	--font-family-display: var(--font-space-grotesk), sans-serif;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	color: var(--foreground);
}
